# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

README.md

#------------
#These files are CUSTOM FOR SG:
#------------

#Custom short names for easier understanding
/entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
#Different than GFL entwatch
/entwatch/ze_lotr_minas_tirith_p5.cfg
#Some changes, don't remember what
/entwatch/ze_harry_potter_v2_1_csgo.cfg
#Add store button names
/stripper/ze_diddle_v3.cfg
#Remove forced cvars
/stripper/ze_ffvii_mako_reactor_v6_b09k2.cfg
#Easier bosses and stuff
/stripper/ze_minecraft_adventure_v1_3d.cfg
#Custom stage system
/stripper/ze_blackmesa_remix_p2.cfg
#Easier edit - doors close in fire building
/stripper/ze_biohazard3_nemesis_b5_2.cfg
#A fix or something ?
/stripper/ze_boatescape5_reloaded_v1.cfg
#Easier stage 3 boss interrupts
/stripper/ze_predator_ultimate_p7.cfg
#Rush B or something
/stripper/ze_rush_b_v1_4.cfg
/stripper/ze_rush_b_v1_1.cfg
#Fix infinite warmup ?
/stripper/ze_sandstorm_go_v1_4.cfg
#Remove physics props
/stripper/ze_siberia_1990_v1_2c_p5.cfg
#Fix slender invis with .nut
/stripper/ze_slender_escape_rc2.cfg
#Fix mapper protection
/stripper/ze_supershitshow_b4.cfg

#------------
#These files are PRIVATE:
#------------
/stripper/de_dust2.cfg
/stripper/ze_harry_potter_v2_1_csgo.cfg
/vscripts/ze_minas_tirith
/vscripts/luffaren
/vscripts/ze_harry_potter
/vscripts/ze_dust2

#------------
#Always exclude these files:
#------------
/vscripts/2v2
/vscripts/apc
/vscripts/ar_dizzy
/vscripts/ar_shoots
/vscripts/birds
/vscripts/control_point_master
/vscripts/coop
/vscripts/cs_italy
/vscripts/dev
/vscripts/de_bank
/vscripts/de_cbble
/vscripts/de_dust2
/vscripts/de_inferno
/vscripts/de_nuke
/vscripts/de_overpass
/vscripts/de_safehouse
/vscripts/de_stmarc
/vscripts/de_train
/vscripts/de_vertigo
/vscripts/gd_rialto
/vscripts/training
/vscripts/warmup
/Putty